/* Overrides for default VIZIA widgets */

:root {
  background-color: #0a0a0a;
  color: #fafafa;
  font-size: 12;
}

scrollview scrollbar {
  background-color: #dadada;
  border-radius: 0;
  child-space: 0;
}

#param-sliders {
  top: 1px;
}

#visualizer {
  top: 1px;
  background-color: #222222;
}

#visualizer_main {
  color: #fafafa;
  stretch: 1s;
}

#visualizer_sc {
  color: #666666;
  stretch: 1s;
}

#plugin-desc {
  left: 0s;
  right: 1s;
}

#plugin-label {
child-space: 10px;
  background-color: #2ed2a0;
  top: 1s;
  bottom: 1s;
}

#plugin-version {
  color: #666666;
  font-size: 8;
  top: 1s;
  bottom: 1s;

}
